.root:global(.__wab_instance) {
  position: relative;
  height: 1.75rem;
}
.svg___137Nt {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.svg__bo0Bj {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
