.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.roothideMenu {
  display: flex;
  flex-direction: row;
}
.svg__cgFXn {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.button:global(.__wab_instance) {
  position: relative;
}
.svg__qsm5V {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.svg__ik1WH {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 1em;
}
