.root {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.svg__w5R8Q {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.svg__lMfZv {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 1em;
}
.menuButton:global(.__wab_instance) {
  display: none;
}
.svg__v2UMb {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
