.root:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__pOi0Z {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
.svg__o6ZoE {
  display: flex;
  position: relative;
  object-fit: cover;
  height: 1em;
}
