.share:global(.__wab_instance) {
  position: relative;
}
.svg__kdPqR {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.svg__mwhzl {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 1em;
}
